
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-snap-stop:inherit;
    font-family: Neco;
}

:root {
    /* Farbpalette */
    --primary-color: #FFFAEC; 
    --secondary-color: #F5ECD5;
    --accent-color: #578E7E; 
    --background-color: #3D3D3D; 
    
}

q {
    font-size: 30px;
    width: 1px;
}
.section-1 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100vh; 
    background-color: var(--primary-color);
    
}

.intro {
    text-justify: center;
    font-size: 50px;
    font-weight: 200;
    color: var(--accent-color);

}